DEBUG=True
SECRET_KEY="secret_key_here"
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=sales_tracker
# DB_USER=sales_user
# DB_PASSWORD=password
# DB_HOST=localhost
# DB_PORT=5432
# DB_CONN_MAX_AGE=60

# Excel upload limits
# EXCEL_UPLOAD_MAX_SIZE=52428800
