# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
/logs/*.log*

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
*.swp

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

sales_data
