asgiref==3.12.1
Django==6.1
django-tables2==3.0.0
django-widget-tweaks==1.5.1
numpy==2.5.2
pandas==3.0.5
psycopg2-binary==2.9.12
python-calamine==0.8.2
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.6.0
