<header class="navbar fixed-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a 
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white"
    href="{% url 'dashboard:home' %}">
      {{ APP_NAME }}
  </a>

  {% if request.user.is_authenticated %}
  <div class="ms-auto d-flex align-items-center px-3 text-white-50">
    <span class="me-2">{{ request.user.full_name|default:request.user.get_full_name|default:request.user.email }}</span>
  </div>
  {% endif %}
  
  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </li>
  </ul>
</header>